@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap');


body {
  background-color: #1A1A1A;
  background-image: linear-gradient();
  color: white;
  overflow-x: hidden;

}

.App {
  text-align: center;
}

/* Navbar related items style */

.navbar-container {
  background-color: #161616 !important;
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar-brand {
  color: #FFF500 !important;
  text-align: center;
  font-family: 'K2D';
  font-size: 24px;
  font-weight: 800;
}

.nav-item {
  font-family: 'K2D';
  font-weight: 500;
}

.navbar-nav .nav-item {
  padding-left: 20px;
}

#searchInput {
  border-radius: 30px;
  border: 3px solid black;
  background-color: #D9D9D9;
  margin: 0 !important;
}

#searchInput::placeholder {
  color: rgba(47, 47, 47, 0.48);
  font-family: K2D;
  font-size: 16px;
  font-weight: 800;
}

input.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-input-container {
  border-radius: 30px;
  box-shadow: 0px 0px 0px 2px yellow;
  background-color: yellow;
}

.search-image {
  transition: width .2s ease;
  border: none;
  background-color: transparent;
}

.search-image-after-focus {
  width: 45px;
  padding-right: 10px;
  padding-left: 5px;
}

.search-image-before-focus {
  width: 0px;
  padding: 0;
}

/* Filter chip related items components */

.filter-chip-container {
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.badge {
  font-size: large;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: yellow !important;
  color: black !important;

}

.chip-close-btn {
  background-color: transparent;
  border: none;
  padding-left: 20px;
  cursor: pointer;
  font-size: x-large;
  width: 20px;
}

/* Login container related items components */

.auth-container {
  height: 100vh;
  width: 100vw;
}

.wallpaper {
  width: 550px;
  border-right: 1px solid #FFF500;
}

.wallpaper img {
  width: 100%;
}

.login-container {
  border-bottom: 1px solid #FFF500;
}

.login-form {
  border-bottom: 1px solid #FFF500;
  background: linear-gradient(217deg, #C0C0C0 0%, #494839 100%);

  width: 550px;
  height: 632px;
}

.login-header {
  color: #000;
  text-align: center;
  font-family: 'kanit';
  font-size: 36px;
  font-weight: 400;
}

.input-container {
  width: 400px;
}


.login-inputs {
  font-size: large;
  width: 100%;
  color: white;
  background-color: transparent;
  border: 1px solid black;
  padding: 3px;
}


.input-label {
  color: #000;
  text-align: center;
  font-family: 'kanit';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.login-submit-button {
  margin-top: 10px;
  padding: 5px;
  border-radius: 40px;
  border: 1px solid black;
  background: transparent;
  width: 400px;
  color: black;
  font-family: 'kanit';
  font-size: 24px;
  font-weight: 600;
  transition: .1s all ease;
}

.login-submit-button:hover {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.style-link a {
  color: #FFF;
  text-align: center;
  font-family: 'kanit';
  font-size: 13px;
  font-weight: 600;
  text-decoration-line: underline;
}

/* signup related items  */

.signup-container {
  border-bottom: 1px solid #FFF500;
}

.signup-header {
  color: #FFF500;
  text-align: center;
  font-family: 'kanit';
  font-size: 36px;
  font-weight: 400;
}

.signup-form {
  border-bottom: 1px solid #FFF500;
  background-color: #1E1E1E;
  width: 550px;
  height: 632px;
}

.signup-inputs {
  font-size: large;
  width: 100%;
  color: white;
  background-color: transparent;
  border: 1px solid #FFF500;
  padding: 3px;

}

.signup-input-label {
  color: #FFF500;
  text-align: center;
  font-family: 'kanit';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.signup-submit-button {
  margin-top: 10px;
  padding: 5px;
  border-radius: 40px;
  border: 1px solid #FFF500;
  background: transparent;
  width: 400px;
  color: #FFF500;
  font-family: 'kanit';
  font-size: 24px;
  font-weight: 600;
  transition: .1s all ease;
}

.signup-submit-button:hover {
  border: 1px solid #FFF500;
  color: black;
  background-color: #FFF500;
}

/* Add Button related */

.floating-add-btn {
  background-color: yellow;
  stroke: 1px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  stroke-width: 2px;
  stroke: #000;
  box-shadow: 0px 2px 6px rgba(22, 22, 22, 0.49);
  border: 2px solid black;
  right: 30px;
  bottom: 30px;
}

.floating-add-btn button {
  background-color: transparent;
  border: none;
}


.floating-add-btn:hover {
  background-color: rgb(247, 247, 175);
}


.floating-add-btn:active {
  background-color: rgb(141, 141, 0);
  box-shadow: none;
}

.floating-add-btn i {
  font-size: 30px;
}

.loading {
  width: 100vW;
  height: 100vh;
  background-color: black;
}

.loading i {
  font-size: 80px;
  animation: spin 1s linear infinite;
  color: yellow;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Add component relate items */
.Add-component-container {
  height: 100vh;
}

.AddComponent {
  padding: 30px;
  background-color: #161616;
}

.ac-inputs-labels-container label {
  font-size: x-large;
  font-weight: 500;
  color: #FFF500;
}

.ac-inputs-container {
  width: 50em;
}

.ac-inputs-container input,
.ac-inputs-container textarea {
  font-family: 'Inter';
  font-size: large;
  font-weight: 500;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 10px;
  border:3px solid black;
  box-shadow: 0px 0px 0px 2px #FFF500;
}

.add-component-btn {
  width: 100%;
}

.add-component-btn #ok-btn {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #FFF500;
  color: black;
  font-size: large;
  width: 126px;
  height: 45px;
}

.add-component-btn #ok-btn:hover{
  box-shadow: 0px 0px 0px 3px #FFF500;
}

.add-component-btn #ok-btn:active{
  background-color: rgb(141, 141, 0);
}

.add-component-btn #cancel-btn {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #FFF500;
  background-color: transparent;
  color: #FFF500;
  font-size: large;
  width: 126px;
  height: 45px;
}

.add-component-btn #cancel-btn:hover{
  box-shadow: 0px 0px 0px 2px #FFF500;
}

.add-component-btn #cancel-btn:active{
  background-color: #FFF500;
  color: black;
}

/* NotesItem related items */

.icon-btn{
  background-color: transparent;
  color: black;
  border: none;
}

.icon-btn:hover{
  color: black;
  background-color: #e9af00 !important;
}

.icon-btn:active{
  background-color: #fec51a !important;
  border: none !important;
  outline: thick double cyan !important;

}

.icon-btn:focus{
  color: black;
  background-color: #ffd042 !important;
}
